<%- include('partials/header'); -%>

<div class="blogs content shoe-container">
    <!-- for each loop som går gjennom alle bloggene som har blitt send som response og viser de på hjemmesiden -->
    <% if (shoes.length > 0) { %>
        <% let tally = 0 %>
    <% shoes.forEach(shoes =>{ %> 
        <% tally++ %>
        <% if(tally <=5 ){%>
            <% if(tally <= 5){ %>
                <a single href="/<%= shoes._id %> ">
                    <h3 class="title"><%= shoes.title %> </h3>
                    <p class="snippet"><%= shoes.brand %></p>
                </a>
            <% }} %>
        <% }) %>
    <% if(shoes.length>5){%>
        <% let tally = 0%>
        <% shoes.forEach(()=>{%>
            <% if(tally <=5 ){%>
                <% if(tally >5 && tally<=10){ %>
                    <a single href="/<%= shoes._id %> ">
                        <h3 class="title"><%= shoes.title %> </h3>
                        <p class="snippet"><%= shoes.brand %></p>
                    </a>
            <% }} %>
        <%})%>
    <% } %>
   <% } else{%>
    <!-- hvis det ikke er noen blogs viser man dette -->
    <p>there are no blogs to display</p>
   <% } %>
</div>
<%- include('partials/footer'); -%>
