<%- include('partials/header'); -%>

<div class="blogs content shoecontainer">
    <!-- for each loop som g책r gjennom alle bloggene som har blitt send som response og viser de p책 hjemmesiden -->
    <div class="shoebox1">
    <% if (shoes.length > 0) { %>
        <% let tally = 0 %>
    <% shoes.forEach(shoes =>{ %> 
        <% tally++ %>
        <% if(tally <=5 ){%>
            <% if(tally <= 5){ %>
                <div class="user">
                <a>
                    <h3 class="title"><%= shoes.title %> </h3>
                    <p class="snippet"><%= shoes.brand %></p>
                    <p class="snippet"><%= shoes.model %></p>
                    <p class="snippet"><%= shoes.price %></p>
                </a>
                <% if(user){%>
                    <% if(user.isAdmin==='true'){%>
                        <button data-doc="<%= shoes._id %>">Remove</button>
                        <button data-doc="<%= shoes._id %>">Edit</button>
                    <% } %>
                <% } %>
                </div>
            <% }} %>
        <% }) %>
    </div>
    
    <div class="shoebox2">
        <% if(shoes.length>5){%>
            <% let tally = 0%>
            <% shoes.forEach((shoes)=>{%>
                <% tally++ %>
                <% if(tally >5 ){%>
                    <% if(tally >5 && tally<=10){ %>
                        <div class="user">
                            <a>
                                <h3 class="title"><%= shoes.title %> </h3>
                                <p class="snippet"><%= shoes.brand %></p>
                                <p class="snippet"><%= shoes.model %></p>
                                <p class="snippet"><%= shoes.price %></p>
                            </a>
                            <% if(user){%>
                                <% if(user.isAdmin==='true'){%>
                                    <button data-doc="<%= shoes._id %>">Remove</button>
                                    <button data-doc="<%= shoes._id %>"> EDIT </button>
                                <% } %>
                            <%}%>
                        </div>
                <% }} %>
            <%})%>
        <% } %>
        </div>
   <% } else{%>
    <!-- hvis det ikke er noen blogs viser man dette -->
    <p>there are no blogs to display</p>
   <% } %>
</div>
<script>
    if(document.querySelector('.blogs')){
        const container = document.querySelector('.blogs')
        console.log(container)
        container.addEventListener('click',async(e)=>{
            console.log(e.target.dataset.doc)
            const id = e.target.dataset.doc
            if(e.target.dataset.doc){
                if(e.target === 'REMOVE'){
                    try {
                    endpoint = `/${e.target.dataset.doc}` 
                    fetch(endpoint, {
                        method: 'DELETE',
                    })
                    .then(response => response.json())
                    .then(data => window.location.href = data.redirect)
                    .catch(err => console.log(err));
                    //venter p책 data
                    const data = await res.json()
                    console.log(data)
        
                    //hvis finner user s책 redirect
                    if(data) {
                        location.assign('/')
                    }
                    } catch (err) {
                        console.log(err)
                    } 
                }else{
                    location.assign(`/${e.target.dataset.doc}` )
                }
            }
        })
    }
    </script>
<%- include('partials/footer'); -%>

